*{
    
    background-color: #1B1B1B;
    font-family: 'Roboto';
    color: #f5f5dc;

}

.header{
    margin: auto;
    display: inline-block;
    font-size: 60px;
    text-align: center;
    
    width: 100%;
    

}
h1{
    
    height: 100px;
    margin: auto;
    padding: 10px;
   
    
}

img{
    margin: 50px;
    width: 20%;
    height: 20%;
    padding: 20px;
   opacity: 0.3;
    
    
}
img:hover{
    opacity: 1;
    scale: 1.2;
}

h3{
    text-align: center;
    background-color: #f5f5dc;
    color: #1B1B1B;
    margin: 0;
    padding: 2px;
    
}
.ing{
    border: 3px solid #f5f5dc;
    border-radius: 10%;
    width: 50%;
    margin: 20px;
   
    
}
h4{
    font-size: 20px;
    font-weight: bold;
    margin-left: 10px;
    text-decoration: underline;
}

ul{
   
    
    font-size: 20px;
    
}
li{
    padding: 10px;
    margin: 10px;
}


.stepli{
    background-color: #1B1B1B;
    color: #f5f5dc;
    margin: 0;
}

.divstep{
    background-color: #1B1B1B;
    color: #f5f5dc;
    float: right;
    width: 50%;
    font-size: 20px;
    margin: 20px;
    border: 3px solid #f5f5dc;
    border-radius: 10%;
    
    
   
}
.step{
    background-color: #1B1B1B;
    color:#f5f5dc;
}

ol{
    background-color: #1B1B1B;
    font-size: 20px;
    
    
}
