*{
    background-color: #f0f0e1;}

.head-cointainer{
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: flex-end;
    height: 460px;;
}

img{ 
    width: 200px; 
    
     height: 300px;;
     opacity: 0.7;

}

.container{
    border: 3px solid black;
    border-radius: 25px;
    box-shadow: 10px 10px grey;
    display: flex;
    margin-top: 15px;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    font-size: large;
    margin: 20px;
    margin-bottom: 50px;
    
}

.line{
    color: black;
    height: 1px;
    width:60%;
    background-color: black;
    opacity: 0.4;
}

img:hover{
    opacity: 1;
}

.container:hover{
    font-weight: bold;
    
    
}


footer{
    margin-top: 30px;
    margin-bottom: 0px;
    text-align: center;
    /* background-color: red; */
    
    height: 70px;
}

a{
    height: 100%;
    font-size: larger;
    font-weight: bold;
    background-color: #f0f0e1;
    border: 3px solid black;
    border-radius: 25px;
    box-shadow: 5px 5px gray;
    padding: 10px;
    text-decoration: none;
    color:black;
    
}

/* footer:hover{
    transform: scale(1.2);
    background-color: black;
    color:#f0f0e1;
} */

a:hover{
    
    box-shadow: 5px 5px gray;
    background-color: black;
    color:#f0f0e1;
}